.btn{
    color: white;
    background-color: $black;
     border-radius: $radius;
     box-shadow: $shadow;

     &:hover {
        background-color:$gray;
        }
    }
.btn__text{
    text-align: center;
}    