

<div class="popup" >
    <div class="popup_dialog">
        <div class="popup_content text-center">
            <button type="button" class="popup_close"><label class="check-btn" for="check-modal"><strong>&times;</strong></label></button>
            
            <div class="popup_form">
                <form class="form" action="" method="POST">
                  <h2>Введите ваши данные <br>и нажмите заказать звонок</h2>
                    <input class="form-control form_input" name="user_name" required type="text" placeholder="Введите ваше имя">
                    <input class="form-control form_input" name="user_phone" required type="text" placeholder="Введите телефон">
                    <button class="text-uppercase btn-block button" name="submit" type="submit">Заказать звонок</button>
                    <p class="form_notice">Перезвоним в течение 10 минут</p>
                </form>
            </div>
        </div>
    </div>
</div>