<div id="all">
    
    <article id="slider">
        <input type="radio" name="slider" id="switch1">
        <input type="radio" name="slider" id="switch2">
        <input type="radio" name="slider" id="switch3">
        <input type="radio" name="slider" id="switch4">
        <input type="radio" name="slider" id="switch5">
        <div class="" id="slides">
            <div id="overflow">
                <div class="image">
                    <article><img src="# alt=""></article>
                    <article><img src="#" alt=""></article>
                    <article><img src="#" alt=""></article>
                    <article><img src="#" alt=""></article>
                    <article><img src="#" alt=""></article>
                </div>
            </div>
        </div>
        <div id="controls">
            <label for="switch1"></label>
            <label for="switch2"></label>
            <label for="switch3"></label>
            <label for="switch4"></label>
            <label for="switch5"></label>
        </div>
        <div id="active">
            <label for="switch1"></label>
            <label for="switch2"></label>
            <label for="switch3"></label>
            <label for="switch4"></label>
            <label for="switch5"></label>
        </div>
    </article>
</div>